
.box{
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;

    background: rgba(30, 30, 30, 0.63)
}

.Title{
    position: absolute;
    left: 21px;
    top: 17px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 97px;

    color: #F4C13E;
}

.Time{
    position: absolute;
    width: 629px;
    height: 92px;
    right: 200px;
    top: 17px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 97px;

    color: #F4C13E;
}